body {
    background-color: lightgray;
}

form#login {
    display: block;
}


form#login > input {
    display: block;
    margin: auto;
    width: 18em;
    font-size: 1.5em;
}

form#login > button {
    display: block;
    margin: auto;
    width: 18em;
    font-size: 1.5em;
}

form#login > input {
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 1px;
}

form#login > button {
    border: none;
    background-color: darkgray;
    color: gray;
}

button.accept_admin {
    width: 6.5em;
}

div#content {
    width: 35em;
    padding: 1em;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    background-color: ghostwhite;
}

div#login_info {
    text-align: center;
}

div.extra_platforms {
    display: table;
    margin: auto;
    margin-top: 5px;
    align-content: center;
}